opencv-python==4.9.0.80
certifi
chardet
Click
Flask
itsdangerous
Jinja2
MarkupSafe
numpy
Pillow
python-dateutil
requests
six
torch
torchvision
typing-extensions
urllib3
Werkzeug
Flask
gunicorn
numpy==1.25.2
face-recognition==1.3.0
face_recognition_models==0.3.0
matplotlib
dlib==19.24.4
cmake
