certifi
chardet
Click
click-plugins
cligj
opencv-python==4.9.0.80
decorator
face-recognition
Flask
geographiclib
geopy
idna
Image
itsdangerous
Jinja2
joblib
jsonify
markupsafe
matplotlib
networkx
numpy
Pillow
pyproj
python-dateutil

requests
scikit-learn
scipy
Shapely
six
torch
torchvision
tqdm
transformers
urllib3
Werkzeug
# Adjusted dependencies to avoid conflicts
typer
gradio
ctranslate2
astunparse
